In [ ]:
import numpy as np
#generating np array from txt file and skipping footer line1
out=np.genfromtext("file_name.txt",dtype=str,encoding=None,skip_footer=1)

In [ ]:
#numpy to file
import numpy as np
a=np.arange(5)
print(a)
np.save('tcsnumpy',a)  #u wont bre able to open this file.To do that u need to use load func
print("array is saved")

In [ ]:
b=np.load('tcsnumpy.npy')
print(b)

In [9]:
import pandas as pd
df=pd.read_csv('data.csv')
print(df.head())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [11]:
filtered_df=df[df['Duration']<60]
filtered_df

     Duration  Pulse  Maxpulse  Calories
3          45    109       175     282.4
4          45    117       148     406.0
7          45    104       134     253.3
8          30    109       133     195.1
17         45     90       112       NaN
..        ...    ...       ...       ...
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9

[63 rows x 4 columns]

In [13]:
df=df.groupby('Duration')['Pulse'].mean()
df

Duration
15     102.000000
20     125.000000
25     152.000000
30     109.812500
45     107.485714
60     106.126582
75     122.500000
80     123.000000
90      93.750000
120    100.000000
150    101.500000
160    109.500000
180     93.666667
210    122.500000
270    100.000000
300    108.000000
Name: Pulse, dtype: float64

In [ ]:
#combining two df based on common column
merge_df=pd.merge(df1,df2,on='ID')

In [ ]:
#concat 2 df
frames = [df, df1]

res1 = pd.concat(frames)
res1

In [ ]:
#join df
#apply
#sort_values
#iterrows
#unique
#value_counts,chaining methods
#Str methods

In [ ]:
#setup and teardown methods