In [1]:
print("Hello TCS")

Hello TCS

compiler- compiles entire code
INterpreter - line by kine execution
low level-understandable to machine
high level lang-understable to human(variable is not explicitly declared,redeclaration is allowed)
dynamically typed - checking takes place at run time
library - predefined functions ,we can use it wherever required
c++ -> object oriented(data security is high)
python - procedural and obj oriented
pedmas -> precedence in python
Mutable (lidt,dict,set)
Immutable (numeric,string,tuples) -> user should not be able to change it
basic syntax - Identifiers,Indents,keywords,functions,classes,modules,
find-returns -1 if substring is not found
index- throws error if substr is not found

In [2]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [3]:
a=10
print(a)

10

In [4]:
type(a)

int

In [5]:
id(a)

8885288

In [6]:
a=11
id(a)

8885320

In [7]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [9]:
a=5
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

7
3
10
2.5
1
25
2

In [18]:
p='bangalore'
print(p[-1:0])

In [22]:
print(p[::-1])

erolagnab

In [25]:
n='pavan'
n.split('')

ValueError: empty separator

In [1]:
#8 Aug
name=input('Your Name?')
print("THe name is ,name ")

Your Name?priya
THe name is ,name

In [ ]:
#google

In [ ]:
for i in range(1,3):

In [3]:
#To give multiline or lenfthy statements in next line - / can be used
print('Im from bng\
Im doing corporate training\
      in TCS')

Im from bngIm doing corporate training      in TCS

In [4]:
print('Im from bng\
Im doing corporate training
      in TCS')

SyntaxError: unterminated string literal (detected at line 2) (1353264201.py, line 1)

In [5]:
print('hello,\twelcome')

hello,	welcome

In [6]:
#To store many datatypes in a single variable ->list,tuples
#List->ordered collection of datatypes
data=['asma','B.E',88.1,10000,'TCS']
print(data[1:])

['B.E', 88.1, 10000, 'TCS']

In [7]:
data[1]='B.Tech'
data

['asma', 'B.Tech', 88.1, 10000, 'TCS']

In [8]:
#tuple - use it when user should not modify data
tp=('asma','B.E')
tp[1]='B.Tech'

TypeError: 'tuple' object does not support item assignment

In [9]:
#Set - Unordered,no slicing,no indexing,duplicates not allowed
s={'asma','B.E',88.1,10000,'TCS'}
s[1]

TypeError: 'set' object is not subscriptable

In [10]:
name='asma'
print(id(name))
name='priya'
print(id(name))

139881447954992
139881005627632

In [12]:
len(data)

5

In [14]:
data=['asma','B.E','88.1','10000','TCS']
print(max(data)) #based on ASCII value of first letter
print(min(data))

asma
10000

In [15]:
data=['asma','asin'] # 3rd letter m has ASCII value greater than i
max(data)

'asma'

In [17]:
#cant do max,min with mix datatypes
data=(11,'a')
max(data)

TypeError: '>' not supported between instances of 'str' and 'int'

dict -> unordered,no indexing,can access individually,key-value pair
datatype checklist:
1)syntax
2)mutable/immutable
3)ordered/Unordered
4)Indexing/slicing possibility
5)duplicates allowed/not
data structures -> list,tuple,set,dict

In [18]:
a=1>2
print(a)
type(a)

False

bool

In [ ]:
#numeric-int(positive,negative,binary,octal,hexa),float,complex,strings,list,tuple,set,dict

In [ ]:
#dict-keys has to be unique,values can be repeated

In [25]:
data=['asma','B.E',88.1,10000,'TCS']
data.append('Priya')
print(data)
data.insert(2,'Pavan')
print(data)

print(data.remove(10000))
print(data)
print(data.pop())
print(data)
print(data.reverse())
print(data)
data.sort() # will work only when we have same datatype in list
print(data)
data.sort(reverse=True)
print(data)

['asma', 'B.E', 88.1, 10000, 'TCS', 'Priya']
['asma', 'B.E', 'Pavan', 88.1, 10000, 'TCS', 'Priya']
None
['asma', 'B.E', 'Pavan', 88.1, 'TCS', 'Priya']
Priya
['asma', 'B.E', 'Pavan', 88.1, 'TCS']
None
['TCS', 88.1, 'Pavan', 'B.E', 'asma']

TypeError: '<' not supported between instances of 'float' and 'str'

In [26]:
s={'Python','C++','Java'}
s.add('PHP')
print(s)

{'Java', 'PHP', 'Python', 'C++'}

In [ ]:
#set methods->add,update,clear,copy,discard(no changes if element not present),remove(throws error if element is not present)
#find(returns -1 if element absent),index(throws error if element absent)

In [1]:
a=eval(input('enter list'))
print(a)
print(sum(a))

enter list[2,5,7,8,1]
[2, 5, 7, 8, 1]
23

In [2]:
eval('1+1')

2

In [ ]:
#frozen set -> immutable 
set1={'priya'}

In [ ]:
#shalllow (eg:listb=lista,changes made in any list will reflect in both list) and deep copy(listb=list1.copy(lista)-changes made in one list will not reflect in another)

In [4]:
age=18
if(age==18):
    print('age is 18')

age is 18

In [2]:
color=(input())
price=int(input())
brand=(input())
if( (color!='Black') and (price<=50000) and (brand=='Dell') ):
    print("User buys it immediately")
elif((color=='Grey') or (brand=='Dell') and (price<=80000)):
    print("User will buy it next month")
else :
    print("User not buying it")

grey
50000
Mac
User not buying it

In [3]:
#structural pattern matching
#design calculator using match (similar to switch in c programming)
num=int(input("enter no:"))
match num:
    case 1:
        print("one")
    case 2:
        print("Two")
    case _:
        print("Invalid")

enter no:2
Two

In [5]:
num1=input("enter no:")
num2=input("enter no:")
op=input()
match op:
    case '+':
        print(num1+num2)
    case '-':
        print(num2-num1)
    case '/':
        print("Invalid")

enter no:2
enter no:5
+
25

In [7]:
#for loop using strings
for i in 'priya':
    print(i)
    print('TCS')

p
TCS
r
TCS
i
TCS
y
TCS
a
TCS

In [ ]:
#Assignment-FOR LOOP using sets,list,dict